body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-list {
  list-style: none;
}

.product-img {
  width: 250px;
  height: auto;
}
.product-cart {
  margin: 0 20px 20px;
  width: 300px;
  height: auto;
}
.sort-title {
  margin-bottom: -10px;
}
.pointer {
  cursor: pointer;
}
.cart-img {
  width: 50px;
  height: auto;
}
.clear-btn {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 40px;
}
.cart-list {
  width: fit-content;
  margin: 0 auto;
  flex-direction: column;
}
.cart-icon {
  position: absolute;
  left: 94%;
  top: 5px;
}
